<nav class="mx-4 flex flex-row mb-10" style="height:100vh">
  <div class="w-1/2 lg:w-1/3 flex flex-col justify-center items-center -translate-x-full opacity-0 left-nav">
    <h1 >CHAUX-CHANVRE</h1>
    <span class="subtitle">sud seine et marne</span>
    <span class="block lg:hidden text-center text-xs"> ISOLATION PAR ENDUIT, DALLE, MUR OU TOITURE </span>
  </div>
  <div class="logo lg:w-1/3 w-1/2 flex flex-col items-center justify-center -translate-y-full opacity-0">
        <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="1.588 24.263 100.549 109.648" width="200" height="139.231"><defs><style>
      .cls-11 {
        stroke-width: 2.05px;
      }

      .cls-11, .cls-12 {
        fill: none;
        stroke: #222831;
        stroke-miterlimit: 10;
      }

      .cls-12 {
        stroke-width: 2.54px;
      }</style></defs><path class="cls-12" points="724.8 382.9 368.14 172.18 367.93 172.18 11.27 382.9 11.27 950.28 724.6 950.28 724.8 382.9" d="M102.137 53.957 51.877 24.263h-0.03L1.588 53.957V133.911h100.521z"/><path class="cls-11" d="M89.203 69.674v14.492H60.22v-14.492c0 -8.004 6.488 -14.492 14.492 -14.492s14.492 6.488 14.492 14.492Z"/><path class="cls-11" d="M43.698 69.674v14.492H14.715v-14.492c0 -8.004 6.488 -14.492 14.492 -14.492s14.492 6.488 14.492 14.492Z"/><path class="cls-11" d="M89.191 94.95c0 10.928 0.347 12.071 -2.621 16.329 -2.081 2.987 -4.974 4.061 -7.552 5.059 -1.757 0.681 -12.588 4.699 -27.059 4.708 -14.472 -0.009 -25.302 -4.027 -27.059 -4.708 -2.576 -0.998 -5.469 -2.071 -7.552 -5.059 -2.968 -4.259 -2.621 -5.401 -2.621 -16.329"/></svg>
          <span class="mt-2 text-center">
          </span>
  </div>
      <div
        id="toggleMenu"
        class="hidden lg:block logo  place-content-center w-10 h-12 mx-4 w-1/2 lg:w-1/3 my-auto right-nav translate-x-full opacity-0"
      >
              ISOLATION PAR ENDUIT, DALLE, MUR OU TOITURE
        <div
          class="
          hidden
            hamburger
            w-10
            h-1
            rounded-full
            transition-all
            duration-150
            before:content-['']
            before:absolute
            before:w-10
            before:h-1
            before:rounded-full
            before:-translate-y-4
            before:transition-all
            before:duration-150
            after:content-['']
            after:absolute
            after:w-10
            after:h-1
            after:rounded-full
            after:translate-y-4
            after:transition-all
            after:duration-150
          "
        ></div>
      </div>
  <div class="menu  hidden max-w-0 opacity-0 flex flex-col justify-center items-center menu fixed top-0 right-0 bg-white p-4 h-full w-full">
    <a href="{{ route('home') }}" class="mx-4">Accueil</a>
    <a href="{{ route('about') }}" class="mx-4">A propos</a>
    <a href="{{ route('contact') }}" class="mx-4">Contact</a>
  </div>
</nav>
<script>
  const toggleMenu = document.getElementById('toggleMenu');
  toggleMenu.addEventListener('click', () => {
      toggleMenu.classList.toggle("hamburger-toggle");
  });

  const menu = document.querySelector('.menu');
  toggleMenu.addEventListener('click', () => {
      menu.classList.toggle("opacity-100");
      menu.classList.toggle("max-w-0");
  });

  //after a few seconds make the navbar be 20% of the screen
  setTimeout(() => {
    document.querySelector('nav').style.height = '30vh';
  }, 1000);
  setTimeout(() => {
  document.querySelector('.left-nav').style.opacity = '1';
  document.querySelector('.left-nav').style.transform = 'translateX(0)';
  document.querySelector('.right-nav').style.opacity = '1';
  document.querySelector('.right-nav').style.transform = 'translateX(0)';
  document.querySelector('.logo').style.opacity = '1';
  document.querySelector('.logo').style.transform = 'translateY(0)';
  }, 500);



</script>

<style>
  nav {
    color:  #222831;
    background-color: #EEEEEE;
    @apply transition-all duration-500 ease-in-out;
  }
  .left-nav {
    @apply transition-all duration-500 ease-in-out;
  }
  .right-nav {
    @apply transition-all duration-500 ease-in-out;
  }
  .logo {
    @apply transition-all duration-500 ease-in-out;
  }
  .menu {
    z-index: 500;
  }
  .hamburger {
    background-color: #222831;
    z-index: 1000;
  }
  .hamburger::before {
    background-color: #222831;
  }
  .hamburger::after {
    background-color: #222831; }
  h1 {
    font-family: 'Chaux Chanvre';
    @apply text-3xl lg:text-3xl text-center;
  } 
  .logo {
    font-family: 'Chaux Chanvre';
    @apply text-sm lg:text-lg text-center;
  }
  .subtitle {
    font-family: 'Chaux Chanvre';
    font-variant: small-caps;
    @apply text-sm lg:text-lg hidden lg:flex justify-center;
  }

  
  .hamburger-toggle .hamburger  {
              @apply h-0 bg-white;
  }
      .hamburger-toggle .hamburger::before {
        @apply -rotate-45 translate-y-0 transform absolute;
      }
      .hamburger-toggle .hamburger::after {
        @apply rotate-45 -translate-y-0 transform absolute;
      }
  
  .menu {
    @apply transition-all duration-300 ease-in-out;
  }
  .menu.hidden {
    @apply translate-x-full;
  }
  .menu {
    @apply translate-x-0;
  }


</style>
